.links
  ul.link-list
    h4
      a(target='_blank', href='/')  Home 
    |                                
    h4                
      a(target='_blank', href='/contact') Contact Us
    |                     
    h4 Tea Varieties
    |                     
    a(target='_blank', href='/teas/black')
      li Black
    |                 
    a(target='_blank', href='/teas/green')
      li Green
    
    hr 
    
    h4 Order Tea
    |                     
    a(target='_blank', href='/orders/history')
      li Order History 
    |                 
    a(target='_blank', href='/orders/new')
      li New Order


