include ./../core/header.jade

body(style='background:url(/images/nokcha/tea.jpg); background-size:cover;')      
	.main.container
	
	.container
		div.navbar-right
				b(style='font-size:35px; color:#ccc') Nokcha
				span &nbsp; &nbsp; &nbsp;
				span(style='color:#fff') 
					a.menuitem(href='/About') About Us &nbsp; &nbsp;
				span(style='color:#fff') 
					a.menuitem(href='/Teas') Teas &nbsp; &nbsp;
				span(style='color:#fff')
					a.menuitem(href='/Ceramics') Ceramics &nbsp; &nbsp;
				span(style='color:#fff')
					a.menuitem(href='/.Order') Order &nbsp; &nbsp;
				span 
					i.fa.fa-2x.fa-search(style='color:#fff')

	p &nbsp; 
	
