// Usage res.render('page', { links_title: 'Options', links: [{label: 'a', href: '/a'}]});

if links
  .links
    ul.link-list
      if links_title
        h3
          u
            a(target='_blank', href='/')  #{links_title} 
      
      each link,i in links
        h4                
          a(target='_blank', href='#{link.href}') #{link.label}

