h2 View Helper
p This contains a number of standard classes & usage examples for various form elements and HTML elements used in templates.

hr

div.col-md-2
	b Help Button
div.col-md-10
	a(href='#' onclick="return false;" tooltip='Instructions' data-toggle="popover" data-placement="left" data-trigger="focus" title="Instructions" data-content="Detailed instructions...")
