.links
  ul.link-list
    h4
      a(target='_blank', href='/')  Home 
    |                                
    h4                
      a(target='_blank', href='/contact') Contact Us
    |                     
    h4 Section
    |                     
    a(target='_blank', href='/page1')
      li Section 1
    |                 
    a(target='_blank', href='/page2')
      li Section 2

