extends ./../customize/privateLayout
block content
  div.container
    form
        h2 selected '#{table}' Record(s)

        - var debug = 0;

        hr
        table.table.table-bordered
            thead
                tr
                    th.alert.alert-info Field
                    th.alert.alert-info Value

                each record in data
                    each fld in fields
                        tr
                            td
                                b #{ fld }
                            td
                                b #{ record[fld] }
                            //td
                                a(href='#')
                                    button(type='button') Edit
