extends publicLayout
block content

  .div.container
      ul.getting-started
          li.clearfix
            .step
              h3 Ceramics Overview
              p Ceramics... summary with links if applicable
      // If link section to the right include line below (and adjust Links.jade file as required) //
      include Links

