extends publicLayout
block content

  div.container
      ul.getting-started(style="background-color:#dfc")
          li.clearfix
            .step
              h3 Green Tea
              p Green Tea description ... 
      // If link section to the right include line below (and adjust Links.jade file as required) //
      include Links


