extends publicLayout
block content

  .div.container
      ul.getting-started
          li.clearfix
            .step
              h3 Tea Overview
              p Teas... summary with links to varieties
      // If link section to the right include line below (and adjust Links.jade file as required) //
      include Links

