extends publicLayout
block content

  .default-page
  .header
    h1(id="main-title" class="container") GSC Beacon Interface
  .div(class="main container clearfix")
      ul.getting-started
          li.clearfix
            .step
              h3 Michael Smith Genome Sciences Centre
              p
                | Suite 100 - 570 West 7th Ave
                br
                |                         Vancouver, BC
                br
                |                         V5Z 4S6
                br
                |                         Canada
                br
                br
              p
                | Phone: 604-707-5800
                br
                |                         Fax:   604-876-3561
                br
                br
              p
                a(href='http://www.bcgsc.ca') http://www.bcgsc.ca
        .links
          // <h3>Links</h3>
          ul.link-list
            h4
              a(target='_blank', href='/')  Home 
            h4 Online Interface
            a(target='_blank', href='/ui')
              li User Interface
            h4 Docs
            a(target='_blank', href='/FAQs')
              li FAQs
            a(target='_blank', href='/examples')
              li Usage Examples
            a(target='_blank', href='/contactUs')
              li Contact Us
            h4 Community
            a(target='_blank', href='http://ga4gh.org/#/beacon')
              li Beacon Project
            a(target='_blank', href='http://mcupak.github.io/beacon-of-beacons/index.html')
              li Beacon of Beacons
            a(target='_blank', href='http://beacon-network.org')
              li Beacon Network

