div
    div.pull-right
        b 
            a(href="http://www.bcgenerationsproject.ca" target="_top") BC Generations Project
 
    div.navbar-left
        img(src="/images/lims/BCCancerAgency.png" style="width: 166px")
        span &nbsp; &nbsp; &nbsp; &nbsp;
        img(src="/images/lims/litmus-19k.png" style="width: 111px")
