.body {
    background: url(/images/lims/bcg-background.png);
    background-repeat: no-repeat;
    background-position: center top; 
}

.modal-header {
	background-color:#777; 
	color: white; 
	text-align:center; 
	font-size:30px;
}
.modal-footer {
	background-color:#ddd;
}

.form-signin {
    position: relative;
    max-width: 30%;
    padding: 19px 29px 29px;
    margin: 20px auto;
    margin-top: 80px;
    background-color: #ccc;
}

.message-block {
    padding: 10px;
}

.section-block {
    padding: 20px;
    border: 1px solid;
}

.popover {
	max-width: 100%;
}

div.header {
    -webkit-transition: 16s;
    -moz-transition: 16s;
    -o-transition: 16s;
    transition: 16s;
    background: rgba(255, 255, 255, 0.89) url(/images/lims/BCG-transparent.png) no-repeat 42% bottom; 
    padding: 90px 50px 100px 100px;
}
.header h1#main-title {
    color: #fff;
    font-weight: 300;
    font-size: 2.5em;
}
.header h3{
    color: #b1eef7;
    font-style: italic;
    font-weight: 300;
}
.header h3 code{
    font-style: normal!important; background-color: rgba(255,255,255,0.5);
    font-weight: 300; color:#0e6471;
    margin: 0px 5px;
}

div.mini-header {
    -webkit-transition: 16s;
    -moz-transition: 16s;
    -o-transition: 16s;
    transition: 16s;
    background: rgba(255, 255, 255, 0.89) url(/images/lims/BCG-transparent-64x64.png) no-repeat 42% bottom; 
    padding: 5px 50px 5px 100px;
}
.mini-header h1#main-title {
    color: #fff;
    font-weight: 300;
    font-size: 2.5em;
}
.mini-header h3{
    color: #b1eef7;
    font-style: italic;
    font-weight: 300;
}
.mini-header h3 code{
    font-style: normal!important; background-color: rgba(255,255,255,0.5);
    font-weight: 300; color:#0e6471;
    margin: 0px 5px;
}

div.grow-header {
    -webkit-transition: 16s;
    -moz-transition: 16s;
    -o-transition: 16s;
    transition: 16s;
    background: rgba(255, 255, 255, 0.89) url(/images/lims/BCG-transparent.png) no-repeat 42% bottom; 
    padding: 5px;
}
.grow-header h1#main-title {
    color: #fff;
    font-weight: 300;
    font-size: 2.5em;
}
.grow-header h3{
    color: #b1eef7;
    font-style: italic;
    font-weight: 300;
}
.grow-header h3 code{
    font-style: normal!important; background-color: rgba(255,255,255,0.5);
    font-weight: 300; color:#0e6471;
    margin: 0px 5px;
}

.wellmap
{
width:25px;
height:25px;
border-radius:50%;
font-size:10px;
color:#fff;
line-height:25px;
text-align:center;
background:#000
}
