.dropdown-container {
  position: relative;
}

input.preaddon {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;  
}
my-dropdown.addon > div {
  padding: 0px !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #eeeeee;
}
my-dropdown.addon > div > div.dropdown-display > input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #eeeeee;
}
dropdown-container {
  padding-top: 0px !important;
}

my-dropdown {
  float: left;
  display: block;
  width: 250px;
}
my-dropdown.mini-dropdown > div {
  float: left;
  width: 100px;
}
my-dropdown > div {
  float: left;
  width: 100%;
}
my-dropdown.validated-mandatory > div > div.dropdown-display > input {
  border: solid 3px green !important;
  border-radius: 6px;
}
my-dropdown.mandatory > div > div.dropdown-display > input {
  border: solid 3px red !important;
  border-radius: 6px;
}
my-dropdown > div > div.dropdown-display > input {
  border-radius: 6px;
  border: solid 1px #ccc;
}
my-dropdown > div > div.dropdown-display {
  float: left;
  width: 100%;
  background: white;
  height: 46px;  /* 46px */
  cursor: pointer;
  border: solid 1px #DDD;
  box-sizing: border-box;
  border-radius: 6px;
}
my-dropdown > div > div.dropdown-display > * {
  float: left;
  height: 100%;
  height: 46px;
  line-height: 46px !important;
  display: inline-block;
  vertical-align: middle;
}
my-dropdown > div > div.dropdown-display > span {
  font-size: 14px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding-right: 34px;
  padding-left: 10px;
}
my-dropdown > div > div.dropdown-display > span.placeholder {
  color: #AAA;
}
my-dropdown > div > div.dropdown-display > i {
  position: relative;
  width: 14px;
  margin-left: -24px;
  font-size: 1.125em;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}
my-dropdown > div > div.dropdown-list {
  float: left;
  position: relative;
  width: 100%;
  transform: scale(1, 0);
  transition: transform ease 250ms;
  z-index: 100;
}
my-dropdown > div > div.dropdown-list > div {
  position: absolute;
  width: 100%;
  cursor: pointer;
  background: white;
  z-index: 100;
}
my-dropdown > div > div.dropdown-list > div > div {
  float: left;
  width: 100%;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  border: solid 2px #DDD;
  // border-top: none;
}
my-dropdown > div > div.dropdown-list > div > div:hover {
  background: #F0F0F0;
}
my-dropdown > div > div.dropdown-list > div > div.selected {
  background: #2875C7;
  color: white;
}
my-dropdown > div > div.dropdown-list > div > div > * {
  height: 46px;
  line-height: 46px !important;
  display: inline-block;
  vertical-align: middle;
}
my-dropdown > div > div.dropdown-list > div > div > span {
  float: left;
  width: 100%;
  position: relative;
  padding-right: 30px;
  box-sizing: border-box;
  color: inherit;
}
my-dropdown > div > div.dropdown-list > div > div > i {
  float: left;
  width: 20px;
  margin-left: -20px;
  display: none;
}
my-dropdown > div > div.dropdown-list > div > div.selected > i {
  display: inline-block;
}
my-dropdown > div.show > div.dropdown-list {
  transform: scale(1, 1);
}
