title Custom Template
.header(style='background-color:#344')
	h2(style='color:#ddd') Custom Template
		div.navbar-right
			// if no public access, simply add login form below and remove sign in button ... 

			a(href='#' onclick="return false;" data-toggle='modal' data-target='#LoginModal')
				button.btn.btn-success(type='button') Sign In
			
			span &nbsp;
			
			a(href='#' onclick="return false;" data-toggle='modal' data-target='#SignUp')
				button.btn.btn-danger(type='button') Register

include ./../modals/core/LoginModal.jade

include ./../modals/core/SignUp.jade