extends publicLayout
block content        
  .main.container
               
    p &nbsp; 
        
    include ./../core/errorMsg.jade

    div.col-md-4 &nbsp;       
    div.col-md-4
        h2 Socio Contents
    div.col-md-4 &nbsp;

