// standard input variables: 
//    - plate_ids (array); 
//    - Samples   (array of hashes)

div
  // if Samples[0].container_format.match(/^EDTA/)
  form(role='form' method = 'post' action="/uploadMatrix" enctype="multipart/form-data") 
    input(type = 'hidden' name='Samples' value='{{ active.Samples }}')
    input(type='hidden' id = 'id' name='plate_ids' value="{{active.plate_ids}}")

    table.table
      tr
        td(style='width:30%')
          h2 Link Matrix File              
        td(style='width:40%; vertical-align:middle' )
          span(style='width:100%')
              input.btn.btn-lg.btn-default(type = 'file' name='MatrixFile' style='display:inline-block')
              span &nbsp; &nbsp; 
        td(style='width:30%; vertical-align:middle')                
          button.btn.btn-lg.btn-success(type='submit') Load Matrix File
