div.section-block.bg-info
    span Active Samples: 
    b {{N}} x 
    b(style='color:red') {{sample_type}} 
    b in {{container_format}}
    span &nbsp;

    button.btn.btn-primary.btn-sm(type='button' ng-show="!injectedAlready()" ng-click="injectData('/Container/summary','', plate_ids)") ?
    button.btn.btn-danger.btn-sm(type='button' ng-show='injectedAlready()' ng-click='uninjectData()') x    

    span.navbar.navbar-right 

      button.btn.btn-primary.btn-sm(type='button' ng-show="include_parents && !injectedAlready('injectedHistory')" ng-click="injectData('/Container/history?include_parents=1','injectedHistory', plate_ids)") Long History &nbsp;
      button.btn.btn-primary.btn-sm(type='button' ng-show="!include_parents && !injectedAlready('injectedHistory')" ng-click="injectData('/Container/history','injectedHistory', plate_ids)") Short History &nbsp;
      input(type='checkbox' label='include Parent' ng-model='include_parents') 
      span include parents &nbsp; &nbsp; 
      button.btn.btn-danger.btn-sm(type='button' ng-show="injectedAlready('injectedHistory')" ng-click="uninjectData('injectedHistory')") x    
      span &nbsp; &nbsp; &nbsp; &nbsp;

      b {{user}} &nbsp;
      span {{ timestamp }} &nbsp; &nbsp;

div#injectedData

div#injectedHistory