// standard input variables: 
//    - plate_ids (array); 
//    - Samples   (array of hashes)

form(role='form' method='post' action="/Lab_protocol/run" enctype='form-data')
  input(type = 'hidden' name='Samples' value='{{ active.Samples }}')
  input(type='hidden' id = 'id' name='plate_ids' value="{{ active.plate_ids }}")
  // b Samples: {{ active.Samples }}
  table.table
    tr
      td(style='width:30%')
        h2 Continue Protocol: 
        span.input-lg
          input(type='checkbox' ng-model='backfill_prep')
          b &nbsp; Backfill
      td(style='width:40%; vertical-align:middle')
        //- init = "loadLookup('lab_protocol','','','Select Protocol',\"(Container_format IS NULL OR Container_format = '" + Samples[0].container_format_id + "')\")";
        if Samples[0].last_protocol && Samples[0].protocol_status != 'Completed Protocol'
          - defaultProtocol = Samples[0].last_protocol_id
        - init = "loadLookup('lab_protocol','','Select Protocol',\"(Container_format IS NULL OR Container_format = '" + Samples[0].container_format_id + "') AND ( Sample_type IS NULL OR Sample_type = '" + Samples[0].sample_type_id + "') AND status = 'Active'\")";
        span.lookup(id='Lookup-lab_protocol' ng-init="#{init}" ng-click="picked_protocol = 1")

        div(ng-if="backfill_prep")
          br
          input-lg.form-control.my-datepicker#backfill_prep(type="text" name='backfill_date' ng-model="backfill_prep_date" placeholder="Backfill Date")
      td(style='width:30%; vertical-align:middle')
        button.btn.btn-lg.btn-success(type='submit' ng-disabled="!picked_protocol") Run Protocol 
        br
        input(type='radio' name='plate_set' ng-model='active.plate_set' value='new') 
        span &nbsp; Create New Set 
        br
        div(ng-show="active.valid_plate_sets.length")
          a(href='#' onclick='return false' ng-click="hide('existing_list')" ng-show="show['existing_list']") Hide Set(s)
          a(href='#' onclick='return false' ng-click="show('existing_list')" ng-show="!show['existing_list']") Retrieve Existing Set
          div(ng-repeat='set in active.valid_plate_sets' ng-show="show['existing_list']")
            input(type='radio' name='plate_set'  ng-model='active.plate_set' value='{{set}}' ) 
            span &nbsp; Retrieve Set # {{ set }}
            br

div(ng-if="errors && errors.length") 
  div.alert.alert-warning
    b Protocols are allowed but discouraged for samples with pending errors 

form(role='form' method = 'post' action= "/transfer" ng-if="!errors || !errors.length")
  input(type = 'hidden' name='Samples' value='{{ active.Samples }}')
  input(type='hidden' id = 'id' name='plate_ids' value="{{ active.plate_ids }}")

  table.table
    tr
      td(style='width:30%')
        h2 Relocate Samples: 
        span.input-lg
          input(type='checkbox' ng-model='backfill_relocate')
          b &nbsp; Backfill
      td(style='width:40%; vertical-align:middle')
          //span.lookup(id='Lookup-container_format' ng-init="loadLookup('container_format','', 'Select Target Format')") 
          span.lookup(id='Lookup-Capacity' ng-init="loadLookup('rack:Capacity','', 'Select Target Size')" ng-click="picked_size = 1") 

          div(ng-if="backfill_relocate")
            br
            input-lg.form-control.my-datepicker#backfill_relocate(type="text" name='backfill_date' ng-model="backfill_relocate_date" placeholder="Backfill Date")
          // b &nbsp; Split X: 
          // input(name='split' type='text' size='5px')
      td(style='width:30%; vertical-align:middle')
          button.btn.btn-lg.btn-success(type='submit' ng-click="updateLookups()" ng-disabled="!picked_size") Relocate Samples

div(ng-if="errors && errors.length") 
  div.alert.alert-danger 
    b Sample relocation not allowed for samples with pending errors 