extends ./../customize/privateLayout
block content

  .header
    h1(id="main-title" class="container") BC Generations 
  div.container
    h3 List of the Steps:
      ul
        each step,i in steps
          - name = step['Protocol_Step_Name'];
          - message = step['Protocol_Step_Message'];
          
          li 
            a(href="/Lab_protocol/#{name}") #{name} 
              i [ #{message} ] 

      
