extends ./../customize/privateLayout
block content

  .default-page
  .header
    h1(id="main-title" class="container") C Title 
  div.container
    
    a(href="/Lab_protocol/new")
      Add New Protocol
    h3 List of Current Protocols:
      each protocol,i in protocols
        - id = protocol.id;
        - name = protocol.name;
        li 
          a(href="/Lab_protocol/#{id}") #{name}
          span &nbsp;
          a(href="/Lab_protocol/demo/#{id}") 
            i [Demo]


      
