extends ./../customize/privateLayout
block content

  div.container
    h3 Protocol Steps:
    ul
      each step,i in steps
        - name = step.name;
        - id   = step.id;
        - message = step.message;
        
        li 
          a(href="/record/view/protocol_step/#{id}") #{name} 
            i [ #{message} ] 

      
