extends ./../customize/privateLayout
block content

  div.container
    p &nbsp;
    a(href="/Lab_protocol/new")
      button.btn.btn-primary(type='button') Add New Protocol
    
    h3 List of Current Protocols:
    each protocol,i in protocols
      - id = protocol.id;
      - name = protocol.name;
      li 
        a(href="/Lab_protocol/#{id}") #{name}
        span &nbsp;
        a(href="/Lab_protocol/demo/#{id}") 
          i [Demo]


      
