extends ./../customize/privateLayout
block content

  div.container
    h3 Protocol Steps:
    ul
      each step,i in steps
        - name = step.name;
        - id   = step.id;
        - num = step.step_number
        - message = step.message;
        
        li 
          a(href="/protocol_step/edit/#{id}") #{num} - #{name} 
            i [ #{message} ] 

      
