extends ./../customize/privateLayout
block content

  .default-page
  .header
    h1(id="main-title" class="container") Prep History 
  div.container
    h3 Sample History:
      ul
        if steps.length
          each step,i in steps
            - protocol = step.Lab_protocol.name;
            - name = step.name;
            - id   = step.id; 
            li 
              a(href="/record/Prep/#{id}") #{name} 
        if !steps.length
          li b No steps recorded

      
