extends ./../customize/privateLayout
block content

  .default-page
  .header
    h1(id="main-title" class="container") Prep History 
  div.container
    h3 Sample History:
      ul
        each step,i in steps
          - protocol = step['Lab_Protocol_Name'];
          - name = step['Protocol_Step_Name'];
          - id   = step['Prep_ID']; 
          li 
            a(href="/record/Prep/#{id}") #{name} 
      

      
