extends ./../customize/privateLayout

block content

  div.container
    include ./../core/errorMsg.jade
    
    // input variables: 
    //    - plate_ids  (array); 
    //    - Samples    (array of hashes)
    //    - Steps      (array of hashes)
    //    - attributes (array of hashes)

    - var configParams = { record: record };

    - var init = "initialize(" + JSON.stringify(record) + ")";

    //- flds = fields || []; 
    //- units = { 'solution_qty' : 'solution_qty_units', 'transfer_qty' : 'transfer_qty_units'};
    - aliases = { 'equipment' : 'Equip', 'solution' : 'Sol' }
    - attributes = attributes || {}; // {'Thaw_Time' : 'integer' }

    div(ng-app='myApp')
      div(ng-controller="SharedController")
       div(ng-controller="FancyFormController")
        div(ng-controller="Protocol_StepController")
          h3 Protocol Editor 
