extends ./../customize/privateLayout
block content

  // standard input variables: 

  - var config = { };
  - var init = "initialize(" + JSON.stringify(config) + ")";
  
  
  p &nbsp;
  div.container
     div(ng-app='myApp')
      div(ng-controller="SharedController")
        div(ng-controller="FancyFormController")
          div(ng-controller="StockController" ng-init="#{init}")
          

            include ./../core/errorMsg.jade

            h3 Receive Stock Items:

            include ./../core/angularMessages.jade
              
            form(role='form' name='Stock' method='post' action='Stock/receive')
  
              div.form-group
                label.input-lg.col-md-2.control-label(for='number_in_batch') Items Received: 
                input.input-lg#number_in_batch(type='number' ng-model='number_in_batch' required placeholder='Number in Batch')              

              div.form-group
                label.input-lg.col-md-2.control-label(for='lot_number') Lot #: 
                input.input-lg#lot_number(type='text' ng-model='lot_number' placeholder='Lot Number') 

              div.form-group
                label.input-lg.col-md-2.control-label(for='received') Received: 
                div.input-lg.my-datepicker#received(type="text" defaultTo='2016-03-02' ng-model="received")

              div.form-group
                label.input-lg.col-md-2.control-label(for='type') Type: 
                input.input-lg(type='radio' name='type' required ng-model='type' value='Reagent' ng-click="filter_catalog()") 
                b &nbsp; Solution / Reagent
                input.input-lg(type='radio' name='type' ng-model='type' value='Equipment' ng-click="filter_catalog()") 
                b &nbsp; Equipment

              div.form-group(ng-show="type")
                label.input-lg.col-md-2.control-label(for="catalog") Catalog Item:
                // input.col-md-6#catalog(type='text' ng-model='catalog' required placeholder='Volume')
                div.col-md-6
                  my-dropdown#catalog(placeholder="Select from Catalog..." list="MenuList['catalog']" selected="catalog" property="name" ng-init="filter_catalog()")
                div.col-md-4 &nbsp;
                  a(href='/record/add/catalog') 
                    button.btn.btn-primary(type='button') Add Item to Catalog

                  // a(href='#' onclick="return false;" data-toggle='modal' data-target='#NewCatalogItem') 
                      Add New Item to Catalog

              div(ng-show="type === 'Reagent'")
                hr 
                b
                  u Reagent specific information:
                
                div.form-group.input-lg
                  label.col-md-2.control-label(for='qty') Quantity: 
                  // input.col-md-3.input-lg#qty(type='text' ng-model='qty' required placeholder='Volume')
                  // input.col-md-3.input-lg(type='text' ng-model='qty_units' required placeholder='Volume_Units')
                  div.col-md-6
                    table
                      tr
                        td(width='100%')                
                          input.input-lg.form-control.preaddon#qty(type='text' aria-describedBy='qty' placeholder=' -- Qty --', ng-model='qty' size='16')
                        td     
                          my-dropdown.mini-dropdown.addon#qty_units(placeholder='units..' list="MenuList['qty_units']" selected="qty_units" property='name' track='name', ng-init="setup_Menu('qty_units','ml,ul,nl')") 

                  div.col-md-4 &nbsp;

                div.form-group.input-lg
                  label.col-md-2.control-label(for='expiry') Expiry: 
                  div.col-md-6
                    input-lg.form-control.my-datepicker#expiry(type="text" ng-model="expiry")

                div.form-group.input-lg
                  label.col-md-2.control-label(for='notes') Notes:
                  div.col-md-10
                    input.input-lg.form-control#notes(type='text' ng-model='notes' placeholder='Notes')

              div(ng-if="type === 'Equipment'")
                hr 
                h3 Equipment specific information:

                div.form-group.input-lg
                  label.col-md-2.control-label(for='qty') Quantity: 
                  div.col-md-6
                    table
                      tr
                        td(width='100%')                
                          input.input-lg.form-control.preaddon#qty(type='text' aria-describedBy='qty' placeholder=' -- Qty --', ng-model='qty' size='16')
                        td     
                          my-dropdown.mini-dropdown.addon#qty_units(placeholder='units..' list="MenuList['qty_units']" selected="qty_units" property='name' track='name', ng-init="setup_Menu('qty_units','units')") 

                  div.col-md-4 &nbsp;

                div.form-group.input-lg
                  label.col-md-2.control-label(for='expiry') Expiry: 
                  div.col-md-6.input-lg.my-datepicker#expiry(type="text" ng-model="expiry")          

                div.form-group.input-lg
                  label.col-md-2.control-label(for='notes') Notes: 
                  div.col-md-10
                    input.input-lg#notes(type='text' ng-model='notes' placeholder='Notes')
  
              hr
              div.form-group.input-lg 
                div.col-md-offset-2.col-md-10
                  input.input-lg#barcode(type='checkbox' ng-model='barcode') 
                  label.control-label.input-lg(for='barcode') Generate Barcodes            
              div.form-group.input-lg  
                div.col-md-offset-2.col-md-4
                  button.btn.btn-lg.btn-primary(type='button' ng-click="save()" ng-disabled="! Stock.$valid") Save New Stock / Reagent Record(s)

              hr
              div(ng-show="type && type !== 'Reagent'")
                div.alert.alert-danger
                  b  Receipt of {{ type }} Stock types have not yet been set up

            include NewCatalogItem

            if debug
              hr
              h2.alert.alert-warning Debugging Information:  (hidden in production)
              b session: #{JSON.stringify(session)} 
            
