extends ./../customize/privateLayout
block content

  .default-page
  .header
    h1(id="main-title" class="container") Custom Template
  .div(class="main container clearfix")
      ul.getting-started
          li.clearfix
            .step
              h3 Scanned Barcode... 
              
      // If link section to the right include line below (and adjust Links.jade file as required) //
      include Links


