if message
  p &nbsp;
  div.alert.alert-success
    i.fa.fa-warning 
    strong
      span #{message}
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;

if errorMsg
  p &nbsp;
  div.alert.alert-danger
    i.fa.fa-warning 
    strong &nbsp; Error: &nbsp;
      span #{errorMsg}
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;

if warningMsg
  p &nbsp;
  div.alert.alert-warning
    i.fa.fa-warning 
    strong 
        span.text-danger &nbsp; Warning:
        span &nbsp;
      span #{warningMsg}
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;