if errorMsg
  p &nbsp;
  div.alert.alert-danger
    i.fa.fa-warning 
    strong &nbsp; Error: &nbsp;
      span #{errorMsg}
    a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;