extends privateLayout
block content

  - lookups = ['Plate_Format', 'Sample_Type'];

  div.container
    h2  Admin Page
    hr

    div(ng-app='myApp')
      div(ng-controller="SharedController")
        div(ng-controller="FancyFormController")
          div(ng-controller="AdminController")
              
            include ./../core/errorMsg.jade

            include ./../core/angularMessages.jade

            form.form-inline#adminForm(role='form' name='adminForm' method='post' action="#{sails.config.root}/record/list" enctype='form-data')
              div.form-group
                label.col-sm-4(for='table') Lookup Tables:
                span#table
                  dropdown(placeholder="Select Table ..." track='name' list="MenuList['table']" selected='table' ng-init="setup_Menu('table', 'Plate_Format,Sample_Type')" property='name')
              button.btn.btn-primary.btn-lg(type='button' ng-disabled="!table" ng-click="reset_messages(); injectData('/record/list','injectedList', table, 'table')") View
                
            div#injectedList

            hr
                          
            a(href='/Lab_protocol/list')
              button.btn.btn-primary Manage Lab Protocols 

            p &nbsp;
            a(href='/Stock/receive')
              button.btn.btn-primary Receive Stock 
            hr

            form.form-inline(role='form' name='adminForm' method='post' action="#{sails.config.root}/Rack/newBox" enctype='form-data')

              h3 Create Slotted Box:
              div.form-group
                label(for='parent') &nbsp; On Rack: &nbsp;
                input.input-lg.form-control.mandatory#parent(type='text' name = 'parent' ng-model='parent' ng-blur='set_default_name()' required placeholder ='-- Scan Parent Rack --')
              div.form-group
                label(for='name') &nbsp; &nbsp; Name: &nbsp;
                input.input-lg.form-control#name(type='text' name = 'name' ng-model='name' placeholder='-- Name (eg B3) -- ')
              div.form-group
                label.col-sm-2(for='size') &nbsp; Size: &nbsp;
                span#size
                  dropdown.mandatory(placeholder='-- Choose Size --' required ng-init="setup_Menu('size','9x9,8x12')" list="MenuList['size']" property='name' track='name' selected='size')
              span &nbsp; &nbsp;             
              button.btn.btn-lg.btn-primary(type='button' ng-click="newSlottedBox()" ng-disabled="!name || !parent || !size") Create
     


    // If link section to the right include line below (and adjust Links.jade file as required) //
      include Links
