extends privateLayout
block content

  - var config = private_config || {};
  - var init = "initialize(" + JSON.stringify(config) + ")";

  - lookups = ['Plate_Format', 'Sample_Type'];

  div.container
    h2 System Admin Page
      div.navbar-right
            a(href="/lab_admin")
              button.btn.btn-danger(type='button') Lab Admin
    hr

    div(ng-app='myApp' ng-cloak=1)
      div(ng-controller="SharedController")
        div(ng-controller="FancyFormController")
          div(ng-controller='LIMSController')
           div(ng-controller="AdminController" ng-init="#{init}")
              
            include ./../core/errorAngularMsg.jade

            br 

            div(ng-show="MenuList['limsuser'].length")
              div.alert.alert-warning(ng-show='!all_users')
                b {{ MenuList['limsuser'].length }} User(s) Pending activation
              div.alert.alert-info(ng-show='all_users')
                b {{ MenuList['limsuser'].length }} User(s) Found

            form.form-horizontal#adminForm(role='form' name='adminForm' enctype='form-data')
              div.form-group
                label.input-lg.col-sm-2(for='lps') Lab Protocols:
                div.col-sm-4#lps        
                  a(href='/Lab_protocol/list')
                    button.btn.btn-primary(type='button') Manage Protocols 
                div.col-sm-6 &nbsp;


              hr
              div.form-group()
                  label.input-lg.col-sm-2(for='user') User Access:

                  div.col-sm-4#user
                    input(type='radio' ng-click="all_users=1; setup_Menu('limsuser', 'FK(user)')")
                    span &nbsp; Control access for existing users
                    br
                    div(ng-show="! MenuList['limsuser'].length")
                      b (no pending users to activate)  
                    div(ng-show="MenuList['limsuser'].length")
                      my-dropdown(placeholder='Select User' list="MenuList['limsuser']" selected='limsuser' ng-init="setup_Menu('limsuser', 'FK(user)', \"status='pending'\")" property='name') 
                  div.col-sm-2(ng-show="MenuList['limsuser'].length")
                    button.btn-lg.btn-primary(type='button' ng-click="activate_user(limsuser)") Update Access
                  div.col-sm-4(ng-show="MenuList['limsuser'].length")
                    input#admin(type='radio' name='status' value='lab' checked=1 ng-model='access')
                    label(for='admin') &nbsp; Lab
                    br                    
                    input#admin(type='radio' name='status' value='admin' ng-model='access')
                    label(for='admin') &nbsp; Admin
                    br
                    input#labadmin(type='radio' name='status' value='lab admin' ng-model='access')
                    label(for='labadmin') &nbsp; Lab Admin
                    br
                    input#labadmin(type='radio' name='status' value='deactivate' ng-model='access')
                    label(for='labadmin') &nbsp; De-activate user

