extends privateLayout
block content

  - lookups = ['Plate_Format', 'Sample_Type'];

  div.container
    h2  Admin Page
    hr
                          
    a(href='/Lab_protocol/list')
      button.btn.btn-primary Manage Lab Protocols 

    p &nbsp;

    a(href='/Stock/receive')
      button.btn.btn-primary Receive Stock 

    hr

    div(ng-app='myApp')
      div(ng-controller="SharedController")
        div(ng-controller="FancyFormController")
              
          include ./../core/errorMsg.jade

          form(role='form' name='adminForm' method='post' action="#{sails.config.root}/record/list" enctype='form-data')
            input(type='hidden' name='test' value='testval')

            dropdown(placeholder="Select Table ..." track='name' list="MenuList['table']" selected='table' ng-init="setup_Menu('table', 'Plate_Format,Sample_Type')" property='name')

            span &nbsp; &nbsp;
   
            button.btn.btn-primary(type='submit' ng-disabled="!table") List
            b {{ table }}
          hr

          form(role='form' name='adminForm' method='post' action="#{sails.config.root}/Rack/newBox" enctype='form-data')

            h3 Create Slotted Box:
            div.form-group
              div.col-sm-3
                input.input-lg.form-control(type='text' name = 'name' ng-model='name' placeholder='-- Box Name (eg B3) -- ')
              div.col-sm-3
                input.input-lg.form-control(type='text' name = 'parent' ng-model='parent' required placeholder ='-- Scan Parent Shelf / Rack --')
              div.col-sm-3
                span.lookup(id='Lookup-Capacity' ng-init="loadLookup('rack:Capacity','', 'Select Target Size')") 
              div.col-sm-3
                button.btn.btn-lg.btn-primary(type='submit' ng-disabled="!name || !parent") Generate Box Record
   


    // If link section to the right include line below (and adjust Links.jade file as required) //
      include Links
