.container
  h2 Modal Login Example
  // Trigger the modal with a button
  button#myBtn.btn.btn-default.btn-lg(type='button') Login
  // Modal
  #loginModal.modal.fade(role='dialog')
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h2
            i.fa.fa-lock.fa
            |  &nbsp; Login
        .modal-body
          form(role='form')
            .form-group
              label(for='usrname')
                i.fa.fa-user
                |  Username
              input#usrname.form-control(type='text', placeholder='Enter email')
            .form-group
              label(for='psw')
                i.fa.fa-eye
                |  Password
              input#psw.form-control(type='text', placeholder='Enter password')
            .checkbox
              label
                input(type='checkbox', value='', checked='')
                | Remember me
            button.btn.btn-default.btn-success.btn-block(type='submit')
              fa.fa.fa-power-off
              |  Login
        .modal-footer
          button.btn.btn-default.btn-danger.pull-left(type='submit', data-dismiss='modal')
            i.fa.fa-remove
            |  Cancel
          p
            | Not a member? 
            a(href='#') Sign Up
          p
            | Forgot 
            a(href='#') Password?
