doctype html

- var payload;
- var source;
if (session && session.payload)
	- payload = sails.config.payload;
	- source = 'session';
else if (sails && sails.config)
	- payload = session.payload
	- source = 'config';

- var private_config = { payload: payload, payload_source: source};
- var access = payload.access

if sails && sails.config && sails.config.payload && session && session.payload
	if sails.config.payload.user !== session.payload.user
		- warning = "Caught user conflict (okay)"

html
	include ./../core/private_header.jade
	
	body.body
		block content

		include ./../core/footer.jade
