extends privateLayout
block content

  div.main.container
               
    h3 LIMS Dashboard
    if message
      div.alert.alert-warning #{message}
    br            
    form(role='form' method='post' action="/scan-barcode")       
      div.form-group
        label(for='barcode') Scan Barcode
        input.form-control(type='text' placeholder='-- Scan Barcode Here --' id='barcode' name='barcode')
      button.btn.btn-primary(type=submit) Submit

    hr

    a(href='/Lab_protocol/list')
      button.btn.btn-primary Lab Protocols

    hr

    b Data Matrix File: &nbsp;
    span(style='width:100%')
      form(method = 'post' action="/uploadDataMatrix" enctype="multipart/form-data" style='display:inline-block') 
        input(type = 'file' name='dataMatrix' style='display:inline-block')
        span &nbsp; &nbsp; 
        button.btn.btn-primary(type='submit') Load

  // If link section to the right include line below (and adjust Links.jade file as required) //
  //include Links
