title BC Generations

- var colour = '#6f6';
- var env_colour = {'lims' : '#ddd', 'lims_test' : '#f66'}
if session && session.payload && session.payload.db && env_colour[session.payload.db]
	- colour = env_colour[session.payload.db];

.mini-header(style='background-color:#344')
	h2(style='color:#{colour}') 
		a(href='/home')
			i.fa.fa-home(style='color:#{colour}') &nbsp; &nbsp; &nbsp;
		span BC Generations
		div.navbar-right
			include searchBox
				if session && session.payload
					span #{session.payload.user} &nbsp;  &nbsp; &nbsp;
				a(href='#' onclick="return false;" data-toggle='modal' data-target='#userMenu')
					i.fa.fa-bars(style='color:#{colour}')

include userMenu.jade

