extends publicLayout
block content        
  .main.container
    //h2  Welcome to the BC Generations LIMS
               
    p &nbsp;  
                
    h2 BC Generations Project: 
    p ... description... 


