extends publicLayout
block content        
  .main.container
    //h2  Welcome to the BC Generations LIMS
               
    p &nbsp;  
         
    include ./../core/errorMsg.jade

    div.col-md-4 &nbsp;       
    div.col-md-4
        include LoginForm 
    div.col-md-4 &nbsp;

