title BC Generationsff
link(rel='shortcut icon' href='/images/lims/BCG-32x32.png' id='favicon')
.header(style='background-color:#344')
	h2(style='color:#ddd') BC Generations
		div.navbar-right
			a(href='#' onclick="return false;" data-toggle='modal' data-target='#LoginModal')
				button.btn.btn-success(type='button') Sign In
			span &nbsp;
			a(href='#' onclick="return false;" data-toggle='modal' data-target='#SignUp')
				button.btn.btn-danger(type='button') Register

include LoginModal.jade

include SignUp.jade