extends publicLayout
block content        
  .main.container
    //h2  Welcome to the BC Generations LIMS
               
    p &nbsp;  
                
    h3 Search Page : #{message}
    br            
    form(role='form' method='post' action="/scan-barcode")       
      div.form-group
        label(for='barcode') Scan Barcode
        input.form-control(type='text' placeholder='-- Scan Barcode Here --' id='barcode' name='barcode')
      button.btn.btn-default.btn-primary(type=submit) Submit

    hr

    a(href="/user/dashboard/1" method='post')
      button.btn.btn-primary Home
    
    p &nbsp;

    form(role='form' method='post' action='/remote_login')
      input(type='hidden' name='Session' value='123:Session_details')
      button.btn.btn-primary(type='submit') Remote Login
    br


