extends publicLayout
block content
  .default-page
      .header
        h1#main-title.container Public Home
         
      .main.container.clearfix
        h2  Welcome to the Custom_Title
               
        ul.getting-started
          li.clearfix
            .step
              .sprite.one
              
              h3 Search Page : #{message}
              br            
              form(role='form' method='post' action="/scan-barcode")       
                div.form-group
                  label(for='barcode') Scan Barcode
                  input.form-control(type='text' placeholder='-- Scan Barcode Here --' id='barcode' name='barcode')
                button.btn.btn-default.btn-primary(type=submit) Submit

          li.clearfix
            .step
              .sprite.two
                                 
              h3 Demo 1
              br 
              h4 Run Demo 1
              br      
              a(href='/demo/1')
                button.btn.btn-primary Test Running Protocols 
          
          li.clearfix
            .step
              .sprite.three
                                 
              h3 Demo 2
              br 
              h4 Run Demo 2
              br      
              a(href='/demo/2')
                button.btn.btn-primary Test Protocol Management
