div(ng-app='myApp')
  div(ng-controller="SharedController")
    div(ng-controller="FancyFormController")
      form(role='form' method='post' action="#{sails.config.root}/signup")
        .form-group
          label(for='user')
            i.fa.fa-user
            |  Username
          input#user.input-lg.form-control(name='user' type='text' required ng-model='user' ng-blur="testUnique('user','user','name')" placeholder='-- Enter Username --' default='' value="" force=1)
          span.alert-danger(ng-show='user_errors') {{user_errors}}
        .form-group
          label(for='email')
            i.fa.fa-email
            |  Email
          input#email.input-lg.form-control(name='email' type='text', ng-model='email' ng-blur="testUnique('email','user','email')" placeholder='-- Enter Email --' default='' value="" force=1)
        .form-group
          label(for='pwd')
            i.fa.fa-eye
            |  Password
          input#pwd.input-lg.form-control(name='password' type='password' ng-model='password' default='' placeholder='-- Enter password --' force=1)
        .form-group
          label(for='pwd2')
            i.fa.fa-eye
            |  Confirm Password
          input#pwd2.input-lg.form-control(name='confirm_password' type='password' ng-model='confirm_password' placeholder='-- Confirm password --')                
        button.btn.btn-lg.btn-default.btn-success.btn-block(type='submit' ng-disabled="custom_disable")
          fa.fa.fa-power-off
          |  Submit 