.container
  div.modal.fade#SignUp
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h2
            i.fa.fa-lock.fa
            |  &nbsp; Register
        .modal-body
          form(role='form')
            .form-group
              label(for='usrname')
                i.fa.fa-user
                |  Username
              input#usrname.form-control(type='text', placeholder='Enter email')
            .form-group
              label(for='psw')
                i.fa.fa-eye
                |  Password
              input#pwd.form-control(type='text', placeholder='Enter password')
            .form-group
              label(for='psw')
                i.fa.fa-eye
                |  Confirm Password
              input#pwd2.form-control(type='text', placeholder='Confirm password')                
            button.btn.btn-default.btn-success.btn-block(type='submit')
              fa.fa.fa-power-off
              |  Submit
        .modal-footer
          button.btn.btn-default.btn-danger.pull-left(type='submit', data-dismiss='modal')
            i.fa.fa-remove
            |  Cancel
          p
            | Questions? 
            a(href='#') Contact Us

