extends privateLayout
block content
  div.container
    h3 File Upload

    - var config = { data: data };
    - var init = "initialize(" + JSON.stringify(config) + ")";
    - var access;

    if session && session.payload
      - access = session.payload.access

    div(ng-app='myApp')
      div(ng-controller="SharedController", ng-init="#{init}")
       div(ng-controller="LIMSController", ng-init="#{init}")
        div(ng-controller="UploadController", ng-init="#{init}")

          br 
          include ./../core/errorAngularMsg.jade
          br 

          form(role='form' method='post' action="/uploadData" enctype='form-data')
            table.table
              if access.match('admin')
                tr
                  td(colspan=6) 
                    h3 
                      b {{ upload_type }} records:
                tr(ng-show="! validated" style='background-color:#aaa')
                  td 
                    b Model: &nbsp; 
                    a(href='#' onclick="return false;" tooltip='description' data-toggle="tooltip" title="Specify database model which upload data applies to<br>('id' column will reference data from this data model)<br>Validation will be based on this data model<br>(defaults to container/samples)<p />Only admins may change this to enable uploading of other data besides sample data" data-html='true')
                      i.fa.fa-question-circle

                  td
                    span(ng-show="!model.length|| choose_model")
                      input(type='text', ng-model='model' placeholder='-- Database Model --')
                      span &nbsp; 
                      button.btn.btn-primary.btn-xs(type='submit' onclick="return false;" ng-click="choose_model=0") ok
                    span(ng-show="model && model.length && !choose_model")
                      b {{model}} &nbsp;
                      button.btn.btn-primary.btn-xs(type='submit' onclick="return false;" ng-click="choose_model=1") change
                  td &nbsp;
                  td &nbsp;
                  td 
                    b Upload Type:
                  td
                    input(type='radio' ng-model='upload_type' value='append')
                    span &nbsp; append &nbsp;
                    input(type='radio' ng-model='upload_type' value='update')
                    span &nbsp; update &nbsp;
              tr(ng-show="! validated")
                td
                  b Page: &nbsp; 
                td
                  input(type='number' name='page' ng-model='page' ng-change="initiate_page()")
                td
                  b Start on row: 
                td
                  input(type='number' ng-model='starting_row' default=1 ng-change="get_block()" size=5) 
                td
                  b Start on column: 
                td  
                  input(type='number' ng-model='starting_column' ng-change="get_block()") 
              tr(ng-show="! validated")              
                td
                  b Rows: 
                td
                  input(type='number' ng-model='rows' default=1 ng-change="get_block()") 
                td
                  b Columns: 
                td  
                  input(type='number' ng-model='columns' ng-change="get_block()")               
                td
                  span &nbsp;

              tr
                td(colspan=2)
                  button.btn.btn-lg.btn-success(type='button', ng-click='validate_data()' ng-show="!validated") Validate
                  span &nbsp;
                  button.btn.btn.lg.btn-warning(type='button', ng-click='modify()' ng-show="validated") Modify
                td(colspan=2)
                  button.btn.btn.lg.btn-success(type='button' ng-click="upload()" ng-show="validated") Upload Data
                td(colspan=2)
                  a(href='#' onclick="return false;" tooltip='instructions' data-toggle="tooltip" title="<div style='text-align:left'>* <b>Skip</b> records that exist<br><span style='text-align:left'>* <b>Overwrite</b> conflicts<br><span style='text-align:left'>* <B>Abort</B> if conlicts found" data-html='true')
                    i.fa.fa-question-circle
                  span &nbsp; 
                  b If data already defined: &nbsp;
                  input(nome='onduplicate' type='radio' ng-model='onDuplicate' value='ignore')
                  span &nbsp;Skip &nbsp;
                  input(nome='onduplicate' type='radio' ng-model='onDuplicate' value='replace')
                  span &nbsp;Overwrite &nbsp;
                  input(nome='onduplicate' type='radio' ng-model='onDuplicate' value='')
                  span &nbsp;Abort &nbsp; &nbsp;

                  //- a(href='#' onclick="return false;" tooltip='instructions' data-toggle="popover" data-placement="left" data-trigger="focus" title="Instructions" data-content="#{Step.instructions}")

              tr
                td
                  b Data:
                td(colspan=5)
                  table.table.table-bordered
                    tr
                      td Row
                      td(ng-repeat="fld in headers track by $index")
                        input.form-control(id="{{ currentPage.data[header_row-1][$index+starting_column-1] }}" type='text' ng-model='currentPage.data[header_row-1][$index+starting_column-1]' data-toggle="tooltip" title="{{ currentPage.data[header_row-1][$index+starting_column-1]}}" ng-disabled='validated') 
                    tr(ng-repeat="row in dataBlock track by $index")
                      td(ng-repeat="cell in row track by $index")
                        b {{ cell }}

          hr

          div(ng-show="debug")
            b Headers: {{ headers }}
            br
            b Data: {{ dataBlock }}
            // b Angular Data: {{ data }}
            p &nbsp;
            b Angular Page: {{ page }}
            p &nbsp;
            b Angular Row: {{ row }}